<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button
    mat-icon-button
    (click)="start.toggle()"
    *ngIf="authService.isLoggedIn == true"
  >
    <img width="40" alt="Logo du club" src="./assets/images/logo2.png" />
  </button>
    <a class="button-wrap" routerLink="/home">
      <span class="fade-in">Bienvenue à l'ASM</span>
    </a>
    <span class="example-spacer"></span>

    <div
      role="button"
      class="top-right"
      *ngIf="authService.isLoggedIn == true"
      routerLink="/dashboard"
    >
    <div class="example-spacer"></div>
      <div
        class="fade-in profile"
        [fxShow]="true"
        [fxShow.sm]="false"
        [fxShow.xs]="false"
        *ngIf="authService.userData as user"
      >
        Salut,
        <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
      </div>
      <img
        *ngIf="authService.userData as user"
        [fxShow]="true"
        [fxShow.sm]="true"
        [fxShow.xs]="true"
        class="fade-in img-thumbnail rounded-circle"
        style="height: 40px"
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName }}"
      />
      <button
        mat-icon-button
        class="fade-in"
        aria-label="Déconnexion"
        *ngIf="authService.isLoggedIn == true"
        (click)="authService.SignOut()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
    <mat-sidenav-container autosize hasBackdrop opened='true'
    class="main-style"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #start
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="sidenav"
      fullscreen
      (mouseover)="changeText=true" (mouseout)="changeText=false"
    >
      <mat-nav-list>
        <mat-accordion>
          <mat-list-item>
            <button mat-button class="sidenav-icons">
              <mat-icon matListIcon class="">folder</mat-icon>
              <span *ngIf="changeText">Dossiers</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button class="sidenav-icons">
              <mat-icon matListIcon class="">image</mat-icon>
              <span *ngIf="changeText">Gallerie</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button class="sidenav-icons">
              <mat-icon matListIcon class="">notifications</mat-icon>
              <span *ngIf="changeText">Notifications</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button class="sidenav-icons">
              <mat-icon matListIcon class="">voice_chat</mat-icon>
              <span *ngIf="changeText">Vidéos</span>

            </button>
          </mat-list-item>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
