@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:host {
	font-size: 12px;
	color: #333;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
	margin: 8px 0;
}
p {
	margin: 0;
	text-align: justify;
	font-size: 14px;
}

.content {
	display: flex;
	margin: 82px auto 32px;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;
}
svg.material-icons {
	height: 24px;
	width: auto;
}
svg.material-icons:not(:last-child) {
	margin-right: 8px;
}
.card svg.material-icons path {
	fill: #888;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}
.card {
	border-radius: 4px;
	border: 1px solid #eee;
	background-color: #fafafa;
	height: 40px;
	width: 200px;
	margin: 0 8px 16px;
	padding: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
	line-height: 24px;
}
.card-container .card:not(:last-child) {
	margin-right: 0;
}
.card.card-small {
	height: 16px;
	width: 168px;
}
.card-container .card:not(.highlight-card) {
	cursor: pointer;
}
.card-container .card:not(.highlight-card):hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-container .card:not(.highlight-card):hover .material-icons path {
	fill: rgb(105, 103, 103);
}
.card.highlight-card {
	background-color: #006aff;
	color: white;
	font-weight: 600;
	border: none;
	width: auto;
	min-width: 30%;
	position: relative;
}
.card.card.highlight-card span {
	margin-left: 60px;
}
svg#rocket {
	width: 80px;
	position: absolute;
	left: -10px;
	top: -24px;
}
svg#rocket-smoke {
	height: calc(100vh - 95px);
	position: absolute;
	top: 10px;
	right: 180px;
	z-index: -10;
}
a,a:visited,a:hover {
	color: #fff;
	text-decoration: none;
	width: 80px;
}
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.terminal {
	position: relative;
	width: 80%;
	max-width: 600px;
	border-radius: 6px;
	padding-top: 45px;
	margin-top: 8px;
	overflow: hidden;
	background-color: rgb(15, 15, 16);
}
.terminal::before {
	content: "\2022 \2022 \2022";
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	background: rgb(58, 58, 58);
	color: #c2c3c4;
	width: 100%;
	font-size: 2rem;
	line-height: 0;
	padding: 14px 0;
	text-indent: 4px;
}
.terminal pre {
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	color: white;
	padding: 0 1rem 1rem;
	margin: 0;
}
.circle-link {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	margin: 8px;
	background-color: white;
	border: 1px solid #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: 1s ease-out;
}
.circle-link:hover {
	transform: translateY(-0.25rem);
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
/* Responsive Styles */
@media screen and (max-width: 767px) {
	.card-container > *:not(.circle-link) ,.terminal {
		width: 100%;
	}
	.card:not(.highlight-card) {
		height: 16px;
		margin: 8px 0;
	}
	.card.highlight-card span {
		margin-left: 72px;
	}

}
@media screen and (max-width: 575px) {
}
/* You can add global styles to this file, and also import other style files */

.button {
	font-size: 20px;
}
.button:hover {
	font-size: 20px;
	font-weight: 600;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}
.button-wrap {
	font-size: 20px;
	background : #006aff !important;
	font-weight: 200;
}
.button-wrapinfo {
	font-size: 20px;
	background : #006aff !important;
}

#main-content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

.sidenav-icons{
	color : white;
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}



.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
  }

  .main-style {
	flex-grow: 1;
  }

  
.example-is-mobile .example-toolbar {
	position: fixed;
	/* Make sure the toolbar will stay on top of the content as it scrolls past. */
	z-index: 2;
  }
  
  h1.example-app-name {
	margin-left: 8px;
  }
  
  .example-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
	   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
	/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
	   `<body>` to be our scrolling element for mobile layouts. */
	flex: 1 0 auto;
  }
  
mat-sidenav-content {
    margin-left: 0 !important;
    flex: 1 1 auto;
}
.sidenav{
	background-color: #006aff;

}
.toolbar {
	background-color: #006aff;
	color: white;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
	top: 0;
	left: 0;
	right: 0;

    
}


#toolbar .toolbar-container {
	display: inline-flex;
}

.toolbar #userid {
	height: 40px;
	margin: 0 16px;
}
.toolbar #userid:hover {
	opacity: 0.8;
}

.fade-in {
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
	-moz-animation: fadeIn 5s;
	-o-animation: fadeIn 5s;
	-ms-animation: fadeIn 5s;
}

.example-spacer {
    flex: 1 1 auto;
  }
.filter {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(58deg) brightness(102%) contrast(103%);
}   

.profile {
    font-size: 16px;
}

@media (min-width: 768px) {
	.navbar-brand.abs{
		position: absolute;
		width: auto;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
}

a,a:visited,a:hover {
	color: #fff;
	text-decoration: none;
}
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}